/*================= Variables ========================*/

:root {
  --basic-white: #ffffff;
  --basic-tomato: #F26843;
  --basic-cinnabar: #E74A35;
  --basic-japonica: #D07058;
  --basic-pearl: #EDE0C3;
  --basic-nobel: #999999;
  --basic-pinkswan: #B2B2B2;
  --basic-floralwhite: #F8F7F4;
  --basic-black: #000000;
  --basic-nightrider: #323232;
  --basic-shark: #ABABAB;

  --bg-green: #849D8F;
  --bg-gray: #8996A6;
  --bg-brown: #9D8B84;
  --menu-click: #696969;
  --submenu-hover: #FBDED7;
  --submenu-click: #F6B5A5;
  --submenu-active: #D07058;
  --submenu-link-hover: #E84D37;
  --link-text-shadow: rgba(160, 32, 11, 0.76);
  --link-hover: #FFBC9E;
  --shadow-blood: #AC1000;
  --shadow-mandarian: #942718;
  --shadow-firebrick: rgba(160, 32, 1, 0.76);
  --shadow-ebony: rgba(49, 50, 53, 0.5);
  --shadow-black-40: rgba(0, 0, 0, 0.4);
  --outline-color: rgba(46, 136, 228, 0.52);
  --transparent-autorization-hover: rgba(232, 77, 55, 0.3);
  --transparent-link-hover: rgba(255, 188, 158, 0.3);
  --transparent-nightrider-20: rgba(50, 50, 50, 0.2);
  --transparent-nightrider-30: rgba(50, 50, 50, 0.3);
  --transparent-nightrider-70: rgba(50, 50, 50, 0.07);
  --transparent-floralwhite-50: rgba(248, 247, 244, 0.5);
  --transparent-floralwhite-50: rgba(248, 247, 244, 0.5);
  --transparent-pinkswan-52: rgba(178, 178, 178, 0.52);
  --transparent-white-20: rgba(255, 255, 255, 0.2);
  --transparent-white-40: rgba(255, 255, 255, 0.4);
  --transparent-white-50: rgba(255, 255, 255, 0.5);
  --transparent-white-70: rgba(255, 255, 255, 0.7);

  --slider-light-green: rgba(215, 242, 227, 0.75);
  --slider-light-brown: rgba(239, 224, 218, 0.75);
  --slider-light-blue: rgba(218, 228, 239, 0.75);
}

/*====================== Fonts ======================*/

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff") format("woff"),
    url("../fonts/roboto.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotobold.woff") format("woff"),
    url("../fonts/robotobold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/*===================== Global ====================*/

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: var(--basic-white);
}

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  padding-left: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

.wrapper {
  padding: 0 27px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  margin: 0;
  padding: 10px; /*для предварительной визуализации*/
  font-size: 18px;
  font-weight: bold;
  background-color: var(--basic-white);
  background-image: linear-gradient(to top, var(--basic-tomato) 100%, var(--basic-cinnabar) 100%);
  border: none;
  box-shadow: 0 2px 2px 0 var(--shadow-blood);
  color: var(--basic-white);
  outline: none;
}

.btn:hover,
.btn:focus {
  background-image:
    linear-gradient(to bottom, var(--transparent-white-20), var(--transparent-white-20)),
    linear-gradient(to top, var(--basic-tomato)  100%, var(--basic-cinnabar) 100%);
}

.btn:active {
  background:
    linear-gradient(to bottom, var(--transparent-nightrider-70), var(--transparent-nightrider-70)),
    linear-gradient(to top, var(--basic-tomato) 100%, var(--basic-cinnabar) 100%);
  box-shadow: inset 0 2px 2px var(--shadow-mandarian);
}

.link {
  color: var(--basic-nightrider);
}

.link:hover,
.link:focus {
  color: var(--submenu-link-hover);
}

.link:active {
  color: var(--submenu-link-hover);
}

/* Grid */

.page {
  height: 100%;
  background-repeat: no-repeat;
  background-position: top center;
}

.page-body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-height: 100%;
  background-color: var(--basic-nobel);
}

/*=====================icon========================*/

.icon {
  fill: var(--basic-white);
}

.icon-search {
  width: 16px;
  height: 16px;
}

/*====================== Page =====================*/

.page__green {
  background-color: var(--bg-green);
}

.page__slider.page__green {
  background-image: url("../img/slide-green.png");
}

.page__gray {
  background-color: var(--bg-gray);
}

.page__slider.page__gray {
  background-image: url("../img/slide-gray.png");
}

.page__brown {
  background-color: var(--bg-brown);
}

.page__slider.page__brown {
  background-image: url("../img/slide-brown.png");
}

/*=================== header ====================*/

.page-header {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 9px;
}

.page-header__logo {
  padding-right: 10px;
}

.page-header__contacts {
  display: block;
  flex-basis: 100%;
  margin: 0;
  margin-top: -4px;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  text-align: right;
  color: var(--basic-white);
}

.page-header__contacts a {
  display: inline-block;
  margin-top: 8px;
  font-size: 22px;
  font-weight: bold;
  line-height: 24px;
  color: var(--basic-white);
}

.page-header__nav {
  display: flex;
}

.page-header__usernav {
  display: flex;
}

/*================= main-nav ======================*/

.main__title {
  font-size: 35px;
  line-height: 41px;
  margin: 0;
  margin-bottom: 21px;
}

.main-nav__list {
  display: flex;
  margin-top: 14px;
}

.main-nav__item {
  position: relative;
  margin-right: 2px;
}

.main-nav__item > a {
  display: inline-block;
  padding: 3px 15px 6px;
  font-weight: bold;
  color: var(--basic-white);
  border-radius: 26px;
}

.main-nav__item:not(.main-nav__item--active) a {
  text-decoration: underline;
  text-decoration-color: var(--transparent-white-20);
  text-underline-position: under;
  text-decoration-thickness: 1px;
}

.main-nav__item:hover > a,
.main-nav__item > a:focus {
  color: var(--basic-nightrider);
  background-color: var(--basic-white);
  text-decoration: none;
}

.main-nav__item > a:active {
  box-shadow: inset 0 2px 1px 0 var(--menu-click);
  text-decoration: none;
}

.main-nav__item--active > a,
.main-nav__item--active:hover > a,
.main-nav__item--active > a:hover,
.main-nav__item--active > a:focus,
.main-nav__item--active > a:active {
  color: var(--basic-white);
  background-color: var(--submenu-active);
}

.main-nav__item--dropdown {
  position: relative;
}

.main-nav__item--dropdown .main-nav__list--submenu {
  display: none;
}

.main-nav__item--dropdown:hover .main-nav__list--submenu {
  display: flex;
}

.main-nav__list--submenu {
  position: absolute;
  display: flex;
  flex-direction: column;
  min-width: 143px;
  left: 1px;
  margin: 0;
  margin-top: 3px;
  margin-left: -8px;
  padding: 0;
  list-style: none;
  font-size: 12px;
  background-color: var(--basic-white);
  border-radius: 4px;
  box-shadow: 0 20px 20px 0 var(--shadow-black-40);
  z-index: 9999;
}

.submenu__item:first-child a {
  border-radius: 4px 4px 0 0;
}

.submenu__item:last-child a {
  border-radius: 0 0 4px 4px;
}

.submenu__item a {
  display: block;
  padding: 8px 20px 8px 21px;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-nightrider);
}

.submenu__item--special a {
  position: relative;
  font-weight: bold;
}

.submenu__item--special::after {
  content: "";
  display: block;
  height: 1px;
  margin: 0 5px;
  border-top: 1px solid var(--transparent-nightrider-20);
}

.submenu__item a:hover,
.submenu__item a:focus {
  background-color: var(--submenu-hover);
}

.submenu__item a:active {
  background-color: var(--submenu-click);
}

.submenu__item--active a,
.submenu__item--active > a:hover,
.submenu__item--active > a:focus,
.submenu__item--active > a:active {
  color: var(--basic-white);
  background-color: var(--submenu-active);
}

/*====================== user-nav =====================*/

.user-nav__list {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  margin-top: 14px;
}

.user-nav__item {
  margin-left: 10px;
}

.user-nav__item > a {
  display: block;
  padding: 5px 16px 6px 15px;
  font-weight: bold;
  color: var(--basic-white);
  background-color: var(--transparent-white-20);
  border-radius: 20px;
}

.user-nav__item > a:hover,
.user-nav__item > a:focus {
  color: var(--basic-nightrider);
  background-color: var(--basic-white);
}

.user-nav__item--dropdown {
  position: relative;
}

.user-nav__item--dropdown .user-nav__form {
  display: none;
}

.user-nav__item--dropdown:hover .user-nav__form {
  display: flex;
}

.user-nav__item .user-nav__btn--search {
  padding: 8px 8px 2px;
  border-radius: 32px;
}

.search-form {
  position: absolute;
  display: flex;
  right: 0;
  min-width: 341px;
  padding: 20px 15px;
  margin-top: 3px;
  background-color: var(--basic-floralwhite);
  border-radius: 4px;
  box-shadow: 0 20px 20px 0 var(--shadow-black-40);
  z-index: 9999;
}

.search-form input[type="search"] {
  display: block;
  width: 100%;
  padding: 15px;
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  border: 1px solid var(--basic-pinkswan);
  color: var(--basic-nightrider);
  border-radius: 4px;
}

.search-form input[type="search"]:focus {
  outline-width: 2px;
  outline-color: var(--outline-color);
}

.search-form input[type="search"]::placeholder {
  font-weight: normal;
  color: var(--basic-nobel);
}

.user-nav__btn {
  position: relative;
}

.user-nav__btn--search .icon {
  fill: var(--basic-white);
}

.user-nav__btn--search:hover .icon,
.user-nav__btn--search:focus .icon {
  fill: var(--basic-nightrider);
}

.user-nav__item .user-nav__btn--autorization,
.user-nav__item .user-nav__btn--bascet {
  padding-left: 44px;
}

.user-nav__btn--autorization .icon {
  position: absolute;
  left: 19px;
  top: 6px;
}

.user-nav__btn--autorization:hover .icon,
.user-nav__btn--bascet:hover .icon,
.user-nav__btn--autorization:focus .icon,
.user-nav__btn--bascet:focus .icon {
  fill: var(--basic-nightrider);
}

.autorisation-form {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  right: 0;
  min-width: 277px;
  padding: 20px 17px 20px 19px;
  margin-top: 3px;
  background-color: var(--basic-floralwhite);
  border-radius: 4px;
  box-shadow: 0 20px 20px 0 var(--shadow-black-40);
  z-index: 9999;
}

.autorisation-form__input {
  display: block;
  width: 100%;
  padding: 15px;
  margin: 0;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  border: 1px solid var(--basic-pinkswan);
  color: var(--basic-nightrider);
  border-radius: 4px;
}

.autorisation-form__input:focus {
  outline-width: 2px;
  outline-color: var(--outline-color);
}

.autorisation-form__input::placeholder {
  font-weight: normal;
  color: var(--basic-nobel);
}

.autorisation-form__submit {
  padding: 11px 26px;
  border-radius: 26px;
}

.autorisation-form__help {
  display: flex;
  flex-direction: column;
}

.autorisation-form__link {
  margin-bottom: 5px;
  font-size: 13px;
  line-height: 15px;
}

.autorisation-form__link span {
  color: var(--basic-nightrider);
  border-bottom: 1px solid var(--transparent-nightrider-30);
}

.autorisation-form__link:hover span,
.autorisation-form__link:focus span {
  color: var(--submenu-link-hover);
  border-bottom: 1px solid var(--transparent-autorization-hover);
}

.user-nav__item--active .user-nav__btn,
.user-nav__item--active .user-nav__btn:hover,
.user-nav__item--active .user-nav__btn:focus {
  color: var(--basic-nightrider);
  background-color: var(--basic-white);
}

.user-nav__btn--bascet .icon {
  position: absolute;
  left: 16px;
  top: 6px;
}

/*===================basket========================*/

.basket-form {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  right: 0;
  width: 540px;
  padding: 20px 14px 20px 19px;
  margin-top: 3px;
  color: var(--basic-nightrider);
  background-color: var(--basic-floralwhite);
  border-radius: 4px;
  box-shadow: 0 20px 20px 0 var(--shadow-black-40);
  z-index: 9999;
}

.basket-form .backet-table {
  font-size: 13px;
  line-height: 16px;
  padding-bottom: 2px;
  margin-bottom: 2px;
  box-shadow: 0 1px 1px 0 var(--transparent-nightrider-20);
}

.backet-table td {
  position: relative;
  vertical-align: middle;
  padding-bottom: 16px;
}

.backet-table td:nth-child(1) {
  width: 25px;
}

.backet-table td:nth-child(2) {
  width: 38px;
}

.backet-table td:nth-child(3) {
  width: 260px;
  padding-left: 10px;
  padding-right: 20px;
}

.backet-table td:nth-child(4) {
  width: 125px;
}

.backet-table td:nth-child(5) {
  width: 70px;
}

.backet-table .item-price {
  color: var(--basic-shark);
}

.backet-total {
  flex-basis: 100%;
  font-weight: bold;
  font-size: 15px;
  line-height: 16px;
  text-align: right;
}

.basket-close {
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.basket-close::before,
.basket-close::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 1px;
  width: 15px;
  height: 1px;
  background-color: var(--basic-nightrider);
}

.basket-close::before {
  transform: rotate(45deg);
}

.basket-close::after {
  transform: rotate(-45deg);
}

.backet__submit {
  margin-left: auto;
  padding: 13px 15px 12px;
  border-radius: 26px;
}

/*===================main========================*/

.main-wrapper {
  display: grid;
  align-content: start;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content;
  column-gap: 26px;
  row-gap: 40px;
  margin-bottom: 40px;
}

/*=================== main-slider =================*/

.main-slider {
  grid-column: 1 / -1;
  position: relative;
  padding-top: 272px;
  text-align: center;
  color: var(--basic-white);
}

.main-slider__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-slider__item {
  display: none;
}

.main-slider__item--current {
  display: block;
}

.main-slider__title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.main-slider__btn {
  display: inline-block;
  padding: 12px 44px;
  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  text-align: center;
  vertical-align: top;
  border-radius: 50px;
  text-shadow: 0px 2px 5px var(--link-text-shadow);
}

.main-slider__controls {
  position: absolute;
  bottom: 23px;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 79px;
  z-index: 20;
}

.main-slider__controls .current,
.main-slider__controls .current:hover,
.main-slider__controls .current:focus {
  background-color: var(--basic-white);
}

.main-slider__controls button {
  padding: 0;
  width: 21px;
  height: 21px;
  background-color: transparent;
  border: 2px solid var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}

.main-slider__controls button:hover,
.main-slider__controls button:focus {
  background-color: var(--transparent-white-40);
}

.main-slider__controls button:active {
  background-color: var(--basic-white);
}

/*================= promo ==================*/

.promo {
  display: flex;
  flex-direction: column;
  padding: 14px 23px 22px 16px;
  background-color: var(--basic-nobel);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 16px;
}

.promo h2 {
  margin: 0;
  font-size: 35px;
  font-weight: bold;
  line-height: 41px;
}

.promo p {
  margin-bottom: 42px;
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
}

.promo__btn {
  display: inline-block;
  padding: 12px 22px 14px;
  margin-left: auto;
  text-align: center;
  vertical-align: top;
  border-radius: 70px;
}

.promo--raspberry {
  background-image: url("../img/raspberry_bkgr.jpg");
}

.promo--chocolade {
  background-image: url("../img/chocolate_bkgr.jpg");
}

/*===============popular-items=================*/

.popular-list {
  grid-column: 1 / -1;
}

.pupular-item {
  position: relative;
}

.pupular-item::before {
  content: "";
  position: absolute;
  top: 6px;
  width: 61px;
  height: 61px;
  background-image: url("../img/hit.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

/*================= catalog =========================*/

.catalog {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.catalog__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  list-style: none;
}

.catalog__list--hits {
  margin-bottom: -36px;
}

.catalog__item {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: -6px;
  margin-left: -13px;
  margin-right: -13px;
  margin-bottom: -40px;
  width: calc(267px + 26px);
  padding: 6px 13px 76px;
  min-height: 285px;
}

.catalog__item:hover {
  background-color: var(--transparent-white-20);
  z-index: 1000;
}

.catalog__item .item-img {
  background-color: var(--basic-nobel);
  border-radius: 50%;
}

.item-img img {
  width: 267px;
  height: 267px;
}

.catalog__item .item-price {
  margin-top: -60px;
  margin-bottom: 0;
  font-size: 45px;
  font-weight: bold;
  line-height: 45px;
  text-shadow: 0 1 3px var(--shadow-ebony);
}

.catalog__item .item-unit {
  font-size: 30px;
  line-height: 35px;
}

.catalog__link .item-name {
  display: inline;
  border-bottom: 1px solid var(--transparent-white-20);
}

.catalog__link:hover .item-name,
.catalog__link:focus .item-name,
.catalog__link:active .item-name {
  color: var(--submenu-link-hover);
  border-bottom: 1px solid var(--transparent-link-hover);
}

.catalog__link {
  display: block;
  margin-top: 27px;
  text-align: center;
  color: var(--basic-white);
}

.catalog__item:hover .catalog__detailed ,
.catalog__item:focus .catalog__detailed {
  display: flex;
}

.catalog__detailed {
  display: none;
  position: absolute;
  bottom: 21px;
  width: calc(100% - 13px*2);
}

.catalog__button {
  display: inline-block;
  padding: 12px 16px;
  margin: 0 auto;
  text-align: center;
  vertical-align: top;
  border-radius: 50px;
}

/*==================== filter ======================*/

.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: 33px;
}

.filter__fieldset {
  margin: 0;
  margin-right: 15px;
  margin-bottom: 7px;
  padding: 0;
  border: none;
}

.filters legend {
  padding: 7px 16px;
  font-size: 14px;
  line-height: 16px;
}

.filter__field {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 3px 0px 5px 14px;
  font-size: 16px;
  line-height: 18px;
  min-height: 36px;
  border: none;
  color: var(--basic-white);
  background-color: var(--transparent-white-40);
  border-radius: 20px;
}

.filter__fieldset--sort .filter__field {
  min-width: 196px;
}

.filter__field--choises {
  position: relative;
}

.filter__fieldset--fat .filter__field--choises {
  min-width: 425px;
}

.filter__fieldset--filling .filter__field--choises {
  min-width: 711px;
}

.filter__field--choises label {
  display: block;
  padding-left: 33px;
}

.filter__field--choises label:not(:last-child) {
  padding-right: 19px;
}

.filter__field label {
  cursor: pointer;
}

.filter__field--choises li {
  position: relative;
  padding-right: 20px;
}

.filter__radio + label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0px;

  width: 22px;
  height: 22px;

  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  opacity: 0.8;
  cursor: pointer;
}

.filter__radio:not(:disabled):hover + label::before,
.filter__radio:not(:disabled):focus + label::before {
  opacity: 1;
}

.filter__radio:disabled + label,
.filter__radio:disabled + label::before {
  opacity: 0.4;
}

.filter__radio:checked + label::before {
  background-image: url("../img/radio-on.svg");
}

.filter__checkbox + label::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 3px;

  width: 22px;
  height: 22px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  opacity: 0.8;
  cursor: pointer;
}

.filter__checkbox:not(:disabled):hover + label::before,
.filter__checkbox:not(:disabled):focus + label::before {
  opacity: 1;
}

.filter__checkbox:disabled + label,
.filter__checkbox:disabled + label::before {
  opacity: 0.4;
}

.filter__checkbox:checked + label::before {
  top: -2px;
  left: 3px;
  width: 26px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
}

.filter__checkbox--frut + label {
  padding-left: 40px;
}

.filter__checkbox--syrups + label {
  padding-left: 37px;
  padding-left: 35px;
}

.filter__checkbox--jams + label{
  padding-left: 35px;
}

select.filter__field {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("../img/select-arrow-off.svg");
  background-repeat: no-repeat;
  background-position: top 13px right 14px;
}

select.filter__field:hover,
select.filter__field:focus {
  color: var(--basic-nightrider);
  background-color: var(--basic-white);
  background-image: url("../img/select-arrow-on.svg");
}

.filter__field option {
  font-size: 14px;
  line-height: 16px;
}

.filter__select .filter__field:hover,
.filter__select .filter__field:focus {
  color: var(--basic-nightrider);
  background-color: var(--basic-white);
}

.filters .filter__submit {
  padding: 7px 29px 7px;
  margin-bottom: 7px;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--transparent-white-20);
  border: 2px solid var(--basic-white);
  border-radius: 20px;
  cursor: pointer;
}

.filters .filter__submit:hover,
.filters .filter__submit:focus {
  color: var(--basic-nightrider);
  background-color: var(--basic-white);
}

.filters .filter__submit:active {
  border: none;
  padding: 9px 31px 9px;
  box-shadow: inset 0 2px 2px 0 var(--basic-nightrider);
  outline: none;
}

.filter__fieldset--price .filter__field {
  min-width: 218px;
  padding: 0 20px 5px;
}

.range-controls {
  position: relative;
  width: 100%;
}

.range-controls .scale {
  height: 2px;
  background: var(--transparent-floralwhite-50);
}

.range-controls .bar {
  position: absolute;
  left: 16px;
  width: 60%;
  height: 2px;
  background: var(--basic-white);
}

.range-controls .toggle {
  position: absolute;
  top: -8px;
  width: 20px;
  height: 20px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--basic-shark);
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 14px;
}

.range-controls .toggle-max {
  left: 112px;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: -1px;
  width: 16px;
  height: 16px;
  border: 2px solid #000000;
  border-radius: 50%;
}

/*==================== about ========================*/

.about {
  grid-column: 1 / -1;
  padding: 23px 20px 8px;
  color: var(--basic-nightrider);
  background-color: var(--basic-pearl);
  background-image: url("../img/waffle_bkgr.jpg");
  background-repeat: repeat;
  border-radius: 16px;
}

.about__title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 30px;
}

.about__list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about__item {
  position: relative;
  flex-basis: 540px;
  padding-bottom: 22px;
  padding-left: 55px;
  font-size: 16px;
  line-height: 22px;
}

.about__item::before {
  content: "";
  position: absolute;
  top: -9px;
  left: 0;
  width: 49px;
  height: 49px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.about__item--icecram::before {
  background-image: url("../img/ice-cream.svg");
}

.about__item--cow::before {
  background-image: url("../img/cow.svg");
}

.about__item--eco::before {
  background-image: url("../img/eco.svg");
}

.about__item--thermometer::before {
  background-image: url("../img/thermometer.svg");
}

/*===================== post =========================*/

.post {
  color: var(--basic-nightrider);
  background-color: var(--basic-nobel);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 16px;
}

.post--strawberry {
  padding: 17px 20px 10px;
  background-image: url("../img/strawberry_bkgr.jpg");
}

.post__description {
  margin: 0;
  margin-bottom: 3px;
  font-size: inherit;
  line-height: inherit;
}

.post__title {
  display: block;
  width: 330px;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

/*================ newsletter =======================*/

.newsletter {
  color: var(--basic-nightrider);
  background-color: var(--basic-tomato);
  background-image: url("../img/bg-post.svg");
  background-repeat: repeat;
  border-radius: 16px;
}

.newsletter__block {
  margin: 5px 6px;
  padding: 9px 16px 33px 20px;
  background-color: var(--basic-floralwhite);
  border-radius: 16px;
}

.newsletter-form {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 40px;
}

.newsletter-form__input {
  flex-basis: 366px;
  margin-right: 12px;
  padding: 14px 14px 12px;
  font-weight: bold;
  border: 1px solid var(--transparent-pinkswan-52);
  border-radius: 6px;
  color: var(--basic-nightrider);
}

.newsletter-form__input:focus {
  outline-width: 2px;
  outline-color: var(--outline-color);
}

.newsletter-form__input::placeholder {
  font-weight: normal;
  color: var(--basic-nobel);
}

.newsletter-form__submit {
  flex-grow: 0;
  display: inline-block;
  padding: 11px 19px 12px 20px;
  text-align: center;
  vertical-align: top;
  border-radius: 70px;
}

/*==================location===========================*/

.location {
  position: relative;
}

.location__pointer {
  position: absolute;
  top: 136px;
  left: 266px;
}

.location__pointer img {
  width: 80px;
  height: 140px;
}

/*================== contact-block ======================*/

.contact-block {
  position: absolute;
  top: 62px;
  right: 27px;
  width: 303px;
  padding: 30px 25px 30px;
  font-size: 14px;
  line-height: 20px;
  background-color: var(--basic-white);
  color: var(--basic-nightrider);
  border-radius: 16px;
}

.contact-block__text {
  margin: 0;
}

.contact-block__text:last-of-type {
  margin-bottom: 27px;
}

.contact-block address,
.contact-block__phone {
  font-weight: bold;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
}

.contact-block address {
  margin-bottom: 22px;
}

.contact-block__phone {
  margin-bottom: 22px;
  color: var(--basic-nightrider);
}

.contact-block__phone:hover,
.contact-block__phone:focus,
.contact-block__phone:active {
  color: var(--submenu-link-hover);
}

.contact-block__button {
  display: inline-block;
  padding: 11px 28px 13px;
  margin: 0 auto;
  text-align: center;
  vertical-align: top;
  border-radius: 50px;
}

/*====================== breadcrumbs =========================*/

.breadcrumbs__list {
  display: flex;
  max-width: 50%;
  margin-top: -23px;
}

.breadcrumbs__item {
  padding-right: 7px;
  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs__item:not(:last-child)::after {
  content: "\00BB";
  padding-left: 8px;
}

.breadcrumbs__item a  {
  color: var(--basic-white);
  border-bottom: 1px solid var(--transparent-white-20);
}

.breadcrumbs__item a:hover,
.breadcrumbs__item a:focus,
.breadcrumbs__item a:active {
  color: var(--submenu-link-hover);
  border-bottom: 1px solid var(--transparent-link-hover);
}

/*======================= footer ===========================*/

.footer {
  padding-bottom: 25px;
}

.footer__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 21px 0px 35px;
}

.page__slider .footer__wrapper {
  padding-top: 15px;
}

.page:not(.page__slider) .footer__wrapper {
  box-shadow: 0 -1px 1px 0 var(--transparent-white-20);
}

.footer__social {
  display: flex;
  align-items: center;
  margin: 0;
  width: 320px;
}

.footer__menu {
  display: flex;
  width: 350px;
  justify-self: center;
  align-items: center;
}

.footer__copyright {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 0;
  margin-left: auto;
}

.footer__copyright .link {
  color: inherit;
  border-bottom: 1px solid var(--transparent-white-20);
}

.footer__copyright .link:hover,
.footer__copyright .link:focus,
.footer__copyright .link:active {
  color: var(--submenu-link-hover);
  border-bottom: 1px solid var(--transparent-link-hover);
}


.footer__copyright .devlogo {
  padding: 0 0 0 10px;
}

.footer__copyright span {
  text-align: right;
  font-size: 12px;
  line-height: 18px;
}

/*====================footer social==========================*/

.social__list {
  display: flex;
  align-items: center;
}

.social__item {
  margin-right: 12px;
}

.social__link {
  display: block;
  width: 32px;
  height: 32px;
  box-shadow: 0 0 0 2px var(--transparent-white-20);
  border-radius: 50%;
}

.social__link .icon {
  fill: var(--transparent-white-70);
}

.social__link:hover .icon,
.social__link:focus .icon,
.social__link:active .icon {
  fill: var(--basic-white);
}

.social__link:hover,
.social__link:focus {
  box-shadow: 0 0 0 2px var(--transparent-white-50);
}

.social__link:active {
  box-shadow: 0 0 0 2px var(--transparent-white-70);
}


/*====================aditional-nav__list====================*/

.aditional-nav__list {
  display: flex;
  flex-wrap: wrap;
}

.aditional-nav__item {
  position: relative;
  min-width: 145px;
  padding-left: 23px;
}

.aditional-nav__link {
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-white);
  border-bottom: 1px solid var(--transparent-white-20);
}

.aditional-nav__link:hover,
.aditional-nav__link:focus,
.aditional-nav__link:active {
  color: var(--submenu-link-hover);
  border-bottom: 1px solid var(--transparent-link-hover);
}


.aditional-nav__item--favorite .aditional-nav__link {
  font-weight: bold;
}

.aditional-nav__link .icon {
  position: absolute;
  top: 7px;
  left: 2px;
}

.aditional-nav__link:hover .icon,
.aditional-nav__link:focus .icon,
.aditional-nav__link:active .icon {
  fill: var(--submenu-link-hover);
}

/*====================== pagination =========================*/

.pagination__list {
  display: flex;
  margin-right: -5px;
  justify-content: flex-start;
  align-items: center;
  margin-left: auto;
}

.pagination__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 4px;
}

.pagination__item a {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 26px;
  height: 26px;
  padding: 7px 8px;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: var(--basic-white);
  border-radius: 26px;
}

.pagination__item:not(.pagination__item--current) a:hover,
.pagination__item:not(.pagination__item--current) a:focus {
  background-color: var(--transparent-white-40);
}

.pagination__item:not(.pagination__item--current) a:active {
  color: var(--basic-nightrider);
  background-color: var(--basic-white);
}

.pagination__item--current a {
  color: var(--basic-nightrider);
  background-color: var(--basic-white);
}

.pagination__item--next a::after,
.pagination__item--preview a::after {
  content: "";
  width: 7px;
  height: 7px;
}

.pagination__item--next a:active::after,
.pagination__item--preview a:active::after {
  border-color: var(--basic-nightrider);
}

.pagination__item--next a::after {
  border-right: 1px solid var(--basic-white);
  border-bottom: 1px solid var(--basic-white);
  transform: rotate(-45deg);
}

.pagination__item--preview a::after {
  border-left: 1px solid var(--basic-white);
  border-bottom: 1px solid var(--basic-white);
  transform: rotate(45deg);
}

.pagination__item--disabled a,
.pagination__item--disabled a::after {
  color: var(--transparent-white-20);
  border-color: var(--transparent-white-20);
  cursor: not-allowed;
  pointer-events: none;
}

/* Modal */

.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  color: var(--basic-black);
  background-color: var(--basic-extra-light);
  background-image: url("img/pattern-light.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.modal-close {
  position: absolute;
  top: 15px;
  right: 16px;
  width: 22px;
  height: 22px;
  border: 0;
  cursor: pointer;
  background: none;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 22px;
  height: 3px;
  background-color: var(--basic-nightrider);
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  background-color: var(--transparent-nightrider-20);
  z-index: 2000;
}

.overlay--open {
  display: block;
}

/* Modal login */

.modal-feedback--open {
  display: block;
}

.modal-feedback {
  top: 150px;
  bottom: auto;
  width: 477px;
  padding: 20px 25px 27px 24px;
  background-color: var(--basic-floralwhite);
  border-radius: 6px;
  z-index: 9999;
}

.feedback__description {
  margin: 0;
  margin-bottom: 26px;
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
}

.feedback__form {
  display: flex;
  flex-wrap: wrap;
}

.feedback__form p {
  margin: 0;
}

.feedback__form input[type="text"],
.feedback__form input[type="email"] {
  display: block;
  min-width: 266px;
  padding: 15px;
  margin: 0;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  border: 1px solid var(--basic-pinkswan);
  color: var(--basic-nightrider);
  border-radius: 4px;
}

.feedback__form textarea {
  display: block;
  min-width: 100%;
  padding: 15px;
  margin: 0;
  margin-bottom: 25px;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  border: 1px solid var(--basic-pinkswan);
  color: var(--basic-nightrider);
  border-radius: 4px;
}

.feedback__form input[type="text"]:focus,
.feedback__form input[type="email"]:focus,
.feedback__form textarea:focus {
  outline-width: 2px;
  outline-color: var(--outline-color);
}

.feedback__form input[type="text"]::placeholder,
.feedback__form input[type="email"]::placeholder,
.feedback__form textarea::placeholder {
  font-weight: normal;
  color: var(--basic-nobel);
}

.feedback__submit {
  margin-left: auto;
  padding: 11px 24px;
  border-radius: 70px;
}
