/*================= Variables ========================*/

:root {
  --basic-white: #ffffff;
  --basic-tomato: #F26843;
  --basic-cinnabar: #E74A35;
  --basic-japonica: #D07058;
  --basic-pearl: #EDE0C3;
  --basic-nobel: #999999;
  --basic-pinkswan: #B2B2B2;
  --basic-floralwhite: #F8F7F4;
  --basic-black: #000000;
  --basic-nightrider: #323232;

  --bg-green: #849D8F;
  --bg-gray: #8996A6;
  --bg-brown: #9D8B84;
  --menu-click: #696969;
  --submenu-hover: #FBDED7;
  --submenu-click: #F6B5A5;
  --submenu-active: #D07058;
  --submenu-link-hover: #E84D37;
  --link-hover: #FFBC9E;
  --shadow-blood: #AC1000;
  --shadow-mandarian: #942718;
  --shadow-firebrick: rgba(160, 32, 1, 0.76);
  --shadow-ebony: rgba(49, 50, 53, 0.5);
  --transparent-pinkswan-52: rgba(178, 178, 178, 0.52);
  --transparent-white-20: rgba(255, 255, 255, 0.2);
  --transparent-white-40: rgba(255, 255, 255, 0.4);
  --transparent-white-50: rgba(255, 255, 255, 0.5);
  --transparent-white-70: rgba(255, 255, 255, 0.7);

  --slider-light-green: rgba(215, 242, 227, 0.75);
  --slider-light-brown: rgba(239, 224, 218, 0.75);
  --slider-light-blue: rgba(218, 228, 239, 0.75);
}

/*====================== Fonts ======================*/

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff") format("woff"),
    url("../fonts/roboto.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotobold.woff") format("woff"),
    url("../fonts/robotobold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/*===================== Global ====================*/

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: var(--basic-white);
}

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  padding-left: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  margin: 0;
  padding: 10px; /*для предварительной визуализации*/
  font-size: 18px;
  font-weight: bold;
  background-color: var(--basic-white);
  background-image: linear-gradient(to top, var(--basic-tomato) 0%, var(--basic-cinnabar) 100%);
  border: none;
  box-shadow: 0 2px 2px 0 var(--shadow-blood);
  color: var(--basic-white);
  outline: none;
}

.btn:hover,
.btn:focus {
  background-image:
    linear-gradient(var(--transparent-white-20), var(--transparent-white-20)), linear-gradient(var(--basic-tomato) 0%, var(--basic-cinnabar) 100%);
}

.btn:active {
  background-image: linear-gradient(var(--basic-tomato) 0%, var(--basic-cinnabar) 100%);
  box-shadow: inset 0 2px 2px 0 var(--shadow-blood);
}

.link {
  color: var(--basic-nightrider);
}

.link:hover,
.link:focus {
  color: var(--submenu-link-hover);
}

.link:active {
  color: var(--submenu-link-hover);
}

/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  background-color: var(--basic-nobel);
}

/*====================== Page =====================*/

.page__green {
  background-color: var(--bg-green);
}

.page__gray {
  background-color: var(--bg-gray);
}

.page__brown {
  background-color: var(--bg-brown);
}

/*=================== header ====================*/

.page-header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;
}

.page-header__contacts {
  position: absolute;
  bottom: -50px;
  right: 20px;
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  text-align: right;
  color: var(--basic-white);
  z-index: 100;
}

.page-header__contacts a {
  font-size: 22px;
  font-weight: bold;
  line-height: 24px;
  color: var(--basic-white);
}

.page-header__nav {
  display: flex;
  align-items: center;
}

.page-header__usernav {
  display: flex;
}

/*================= main-nav ======================*/

.main-nav__list {
  display: flex;
}

.main-nav__item {
  position: relative;
  margin-left: 4px;
}

.main-nav__item > a {
  display: inline-block;
  padding: 10px; /* временный паддинг для визуализаии */
  font-weight: bold;
  line-height: 18px;
  color: var(--basic-white);
  border-radius: 26px;
}

.main-nav__item:hover > a,
.main-nav__item > a:focus {
  color: var(--basic-nightrider);
  background-color: var(--basic-white);
}

.main-nav__item > a:active {
  box-shadow: inset 0 2px 1px 0 var(--menu-click);
}

.main-nav__item--active > a,
.main-nav__item--active:hover > a,
.main-nav__item--active > a:hover,
.main-nav__item--active > a:focus,
.main-nav__item--active > a:active {
  color: var(--basic-white);
  background-color: var(--submenu-active);
}

.main-nav__item--dropdown {
  position: relative;
}

.main-nav__item--dropdown .main-nav__list--submenu {
  display: none;
}

.main-nav__item--dropdown:hover .main-nav__list--submenu {
  display: flex;
}

.main-nav__list--submenu {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 143px;
  left: 1px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 12px;
  background-color: var(--basic-white);
  z-index: 10;
}

.submenu__item a {
  display: block;
  padding: 12px 20px 14px 21px;
  font-weight: normal;
  line-height: 18px;
  color: var(--basic-nightrider);
}

.submenu__item--special a {
  font-weight: bold;
}

.submenu__item a:hover,
.submenu__item a:focus {
  background-color: var(--submenu-hover);
}

.submenu__item a:active {
  background-color: var(--submenu-click);
}

.submenu__item--active a,
.submenu__item--active > a:hover,
.submenu__item--active > a:focus,
.submenu__item--active > a:active {
  color: var(--basic-white);
  background-color: var(--submenu-active);
}

/*====================== user-nav =====================*/

.user-nav__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
}

.user-nav__item {
  margin-left: 10px;
}

.user-nav__item a {
  display: block;
  padding: 8px 17px;
  font-weight: bold;
  color: var(--basic-white);
  background-color: var(--transparent-white-20);
  border-radius: 20px;
}

.user-nav__item a:hover,
.user-nav__item a:focus {
  color: var(--basic-nightrider);
  background-color: var(--basic-white);
}

.user-nav__item--dropdown {
  position: relative;
}

.user-nav__form {
  display: none;
}

.user-nav__item .user-nav__btn--autorization,
.user-nav__item .user-nav__btn--bascet {
  padding-left: 44px;
}

.user-nav__item--active .user-nav__btn,
.user-nav__item--active .user-nav__btn:hover,
.user-nav__item--active .user-nav__btn:focus {
  color: var(--basic-nightrider);
  background-color: var(--basic-white);
}

/*===================main========================*/

.main-wrapper {
  display: grid;
  align-content: start;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content;
  column-gap: 20px;
  row-gap: 40px;
}

/*=================== main-slider =================*/

.main-slider {
  grid-column: 1 / -1;
}

.main-slider__item {
  display: none;
  margin-bottom: -50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-slider__item p {
  width: 680px;
  margin: 0;
  margin-bottom: 6px;
  padding: 0;
  font-size: 60px;
  font-weight: bold;
  line-height: 60px;
  text-align: center;
}

.main-slider__btn {
  font-size: 32px;
  line-height: 30px;
  letter-spacing: 5%;
  text-shadow: 0px 2px 5px var(--transparent-firebrick);
}

.main-slider__controls {
  position: absolute;
  top: 450px;
  left: 20px;
  font-size: 0;
}

.main-slider__controls label {
  display: inline-block;
  width: 21px;
  height: 21px;
  margin-right: 8px;
  vertical-align: top;
  background-color: none;
  border: 1px solid var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
}

.main-slider__controls label:hover,
.main-slider__controls label:focus {
  background-color: var(--transparent-white-40);
}

#slide_1:checked ~ .main-slider__controls label[for="slide_1"],
#slide_2:checked ~ .main-slider__controls label[for="slide_2"],
#slide_3:checked ~ .main-slider__controls label[for="slide_3"] {
  background-color: var(--basic-white);
}

#slide_1:checked ~ #slideBlock_1,
#slide_2:checked ~ #slideBlock_2,
#slide_3:checked ~ #slideBlock_3 {
  display: flex;
}

.main-slider__img {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-slider__img img {
  width: 647px;
  height: 583px;
  z-index: 5;
}

.main-slider__light {
  position: absolute;
  top: calc(50% - 716px / 2);
  left: calc(50% - 716px / 2);
  width: 716px;
  height: 716px;
  border-radius: 50%;
  filter: blur(250px);
}

.main-slider__light--green {
  background-color: var(--slider-light-green);
}

.main-slider__light--brown {
  background-color: var(--slider-light-brown);
}

.main-slider__light--blue {
  background-color: var(--slider-light-blue);
}

.main-slider__content {
  position: absolute;
  top: 315px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
}

/*================= promo ==================*/

.promo {
  background-color: var(--basic-nobel);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 16px;
}

.promo h2 {
  font-size: 35px;
  font-weight: bold;
  line-height: 41px;
}

.promo p {
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
}

.promo__btn {
  line-height: 20px;
  text-shadow: 0px 2px 5px var(--transparent-firebrick);
}

.promo--raspberry {
  background-image: url("../img/raspberry_bkgr.jpg");
}

.promo--chocolade {
  background-image: url("../img/chocolate_bkgr.jpg");
}

/*===============popular-items=================*/

.popular-items {
  grid-column: 1 / -1;
}

/*================= catalog =========================*/

.catalog {
  display: flex;
  flex-direction: column;
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.catalog__item {
  display: flex;
  flex-direction: column;
  width: calc(267px + 25px);
  padding: 6px 13px 21px;
  min-height: 285px;
  margin-bottom: 40px;
}

.catalog__item:hover {
  background-color: var(--transparent-white-20);
}

.catalog__item .item-img {
  background-color: var(--basic-nobel);
  border-radius: 50%;
}

.item-img img {
  width: 267px;
  height: 267px;
}

.catalog__item .item-price {
  font-size: 45px;
  font-weight: bold;
  line-height: 45px;
  text-shadow: 0 1 3px var(--shadow-ebony);
}

.catalog__item .item-unit {
  font-size: 30px;
  line-height: 35px;
}

.catalog__item .item-name {
  text-decoration: underline;
}

.catalog__item .link {
  display: block;
  color: var(--basic-white);
}

.catalog__item .link:hover,
.catalog__item .link:focus,
.catalog__item .link:active {
  color: var(--submenu-link-hover);
}

.catalog__buttom {
  margin-top: auto;
}

/*==================== filter ======================*/

.filters {
  display: flex;
  flex-wrap: wrap;
  width: 870px;
}

.filter__fieldset {
  flex-grow: 1;
  margin: 0;
  margin-bottom: 7px;
  padding: 0;
  border: none;
}

.filters legend {
  padding: 7px 16px;
  font-size: 14px;
  line-height: 16px;
}

.filter__field {
  padding: 7px 14px;
  margin-right: 15px;
  font-size: 16px;
  line-height: 18px;
  border: none;
  color: var(--basic-white);
  background-color: var(--transparent-white-40);
  border-radius: 20px;
}

.filter__field--choises label {
  display: inline-block;
}

.filter__field--choises label:not(:last-child) {
  padding-right: 19px;
}

select.filter__field option {
  font-size: 14px;
  line-height: 16px;
}

select.filter__field:hover,
select.filter__field:focus {
  color: var(--basic-nightrider);
  background-color: var(--basic-white);
}

/*==================== about ========================*/

.about {
  grid-column: 1 / -1;
  color: var(--basic-nightrider);
  background-color: var(--basic-pearl);
  background-image: url("../img/waffle_bkgr.jpg");
  background-repeat: repeat;
  border-radius: 16px;
}

.about__title {
  font-size: 24px;
  line-height: 30px;
}

.about__item {
  font-size: 16px;
  line-height: 22px;
}

/*===================== post =========================*/

.post {
  color: var(--basic-nightrider);
  background-color: var(--basic-nobel);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 16px;
}

.post--strawberry {
  background-image: url("../img/strawberry_bkgr.jpg");
}

.post__description {
  font-size: inherit;
  line-height: inherit;
}

.post__title {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  text-decoration: underline;
}

/*================ newsletter =======================*/

.newsletter {
  color: var(--basic-nightrider);
  background-color: var(--basic-tomato);
  background-image: url("../img/bg-post.svg");
  background-repeat: repeat;
  border-radius: 16px;
}

.newsletter__block {
  margin: 5px 6px;
  padding: 29px 16px 35px 20px;
  background-color: var(--basic-floralwhite);
  border-radius: 16px;
}

.newsletter-form {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

.newsletter-form__input {
  flex-grow: 1;
  margin-right: 10px;
  border: 1px solid var(--transparent-pinkswan-52);
  border-radius: 6px;
}

.newsletter-form__submit {
  flex-grow: 0;
  text-shadow: 0px 2px 5px var(--transparent-firebrick);
}

/*==================location===========================*/

.location {
  position: relative;
  grid-column: 1 / -1;
}

.location__pointer {
  position: absolute;
  top: 136px;
  left: 266px;
}

.location__pointer img {
  width: 80px;
  height: 140px;
}

/*================== contact-block ======================*/

.contact-block {
  position: absolute;
  top: 62px;
  right: 27px;
  width: 303px;
  font-size: 14px;
  line-height: 20px;
  background-color: var(--basic-white);
  color: var(--basic-nightrider);
}

.contact-block address,
.contact-block__phone {
  font-weight: bold;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
}

.contact-block__phone {
  color: var(--basic-nightrider);
}

.contact-block__phone:hover,
.contact-block__phone:focus,
.contact-block__phone:active {
  color: var(--submenu-link-hover);
}

/*===================== aditional-nav ======================*/

.aditional-nav__item a {
  color: var(--basic-white);
}

/*====================== breadcrumbs =========================*/

.breadcrumbs__list {
  display: flex;
}

.breadcrumbs__item {
  padding-right: 8px;
  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs__item:not(:last-child)::after {
  content: "\00BB";
  padding-left: 8px;
}

.breadcrumbs__item a {
  color: var(--basic-white);
}

/*======================= footer ===========================*/

.footer {
  padding: 18px 27px 25px 29px;
}

.footer.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer__social {
  display: flex;
  align-items: center;
  margin: 0;
  width: 320px;
}

.footer__menu {
  display: flex;
  width: 400px;
  justify-self: center;
  align-items: center;
}

.footer__copyright {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-left: auto;
}

.footer__copyright a {
  color: inherit;
}

.footer__copyright span {
  font-size: 12px;
  line-height: 18px;
}

/*====================footer social==========================*/

.social-links__list {
  display: flex;
  align-items: center;
}

.social-links__item {
  margin-right: 12px;
}

.social-links__item a {
  display: block;
  min-width: 32px;
  min-height: 32px;
  font-size: 0;
  background-color: var(--transparent-white-40);
  box-shadow: 0 0 0 2px var(--transparent-white-20);
  border-radius: 50%;
}

.social-links__item a:hover,
.social-links__item a:focus {
  box-shadow: 0 0 0 2px var(--transparent-white-50);
  background-color: var(--basic-white);
}

.social-links__item a:active {
  background-color: var(--basic-white);
  box-shadow: 0 0 0 2px var(--transparent-white-70);
}


/*====================aditional-nav__list====================*/

.aditional-nav__list {
  display: flex;
  flex-wrap: wrap;
}

.aditional-nav__item {
  flex-basis: 50%;
  padding-left: 23px;
}

.aditional-nav__item a {
  font-size: 13px;
  line-height: 18px;
}

.aditional-nav__item--favorite a {
  font-weight: bold;
}

/*====================== pagination =========================*/

.pagination__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: auto;
}

.pagination__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 4px;
  margin-bottom: 10px;
}

.pagination__item a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: var(--basic-white);
  border-radius: 50%;
}

.pagination__item:not(.pagination__item--current) a:hover,
.pagination__item:not(.pagination__item--current) a:focus {
  background-color: var(--transparent-white-40);
}

.pagination__item:not(.pagination__item--current) a:active {
  color: var(--basic-nightrider);
  background-color: var(--basic-white);
}

.pagination__item--current a {
  color: var(--basic-nightrider);
  background-color: var(--basic-white);
}

.pagination__item--disabled a,
.pagination__item--disabled a::after  {
  color: var(--transparent-white-20);
  cursor: not-allowed;
  pointer-events: none;
}

.pagination__item--next a::after,
.pagination__item--preview a::after {
  content: "";
  width: 7px;
  height: 7px;
}

.pagination__item--next a:active::after,
.pagination__item--preview a:active::after {
  border-color: var(--basic-nightrider);
}

.pagination__item--next a::after {
  border-right: 1px solid var(--basic-white);
  border-bottom: 1px solid var(--basic-white);
  transform: rotate(-45deg);
}

.pagination__item--preview a::after {
  border-left: 1px solid var(--basic-white);
  border-bottom: 1px solid var(--basic-white);
  transform: rotate(45deg);
}
